@model CustomFields.ViewModels.FormFieldViewModel

<div class="form-group">
    <input type="hidden" id="@($"{Model.Start}.CustomFieldId")" name="@($"{Model.Start}.CustomFieldId")" value="@Model.CustomField.Id" />
    <label class="control-label" for="@($"{Model.Start}.FieldName.FieldDefaultName")">@Model.CustomField.FieldName.FieldDefaultName</label>
    <input type="text" class="form-control"
           id="@($"{Model.Start}.FieldValue")"
           name="@($"{Model.Start}.FieldValue")"
           required="@Model.CustomField.IsRequired"
           maxlength="@Model.CustomField.MaxLength"
           value="@Model.SelectedValue" />
</div>