@model CustomFields.ViewModels.FormFieldViewModel

<div class="form-group">
    <input type="hidden" id="@($"{Model.Start}.CustomFieldId")" name="@($"{Model.Start}.CustomFieldId")" value="@Model.CustomField.Id" />
    <label class="control-label" for="@($"{Model.Start}.FieldValue")">@Model.CustomField.FieldName.FieldDefaultName</label>
    <select id="@($"{Model.Start}.FieldValue")" name="@($"{Model.Start}.FieldValue")" class="form-control">
        @if (Model.CustomField.CombinedFields == null)
        {
            <option selected disabled>Select a value</option>
        }

        @foreach (var selectValue in Model.CustomField.PossibleValues.Split(','))
        {
            var isSelected = selectValue.Equals(Model.SelectedValue) ? "selected" : "";
            <option value="@selectValue" @isSelected>@selectValue</option>
        }
    </select>
</div>