@using CustomFields.Helpers
@using Microsoft.AspNetCore.Localization
@model CustomFields.ViewModels.FormFieldViewModel
@{
    var requestCultureUIName = Context.Features.Get<IRequestCultureFeature>().RequestCulture.UICulture.Name;
    var fieldLabelName = CustomFieldHelper.GetFieldName(Model.CustomField, requestCultureUIName);
    var checkedValue = !string.IsNullOrEmpty(Model.SelectedValue) && Model.CustomField.CombinedFields[0].FieldValue.Equals("on") ? "checked" : string.Empty;
}

<div class="form-group">
    <input type="hidden" id="@($"{Model.Start}.CustomFieldId")" name="@($"{Model.Start}.CustomFieldId")" value="@Model.CustomField.Id" />
    <input type="checkbox" id="@($"{Model.Start}.FieldValue")" name="@($"{Model.Start}.FieldValue")" @checkedValue />
    <label class="control-label" for="@($"{Model.Start}.FieldValue")">@fieldLabelName</label>
</div>